/* Add button */


.vpm_multiple-delete {
    position: relative;
    top: 40px;
}

.vpm_multiple-delete:hover,
.vpm_multiple-add:hover {
    cursor: pointer;
}

[data-multiple_index]:not([data-multiple_index='']) {
    margin-left: 30px;
}

.vpm_multiple-add[data-wrapper],
.vpm_multiple-delete[data-wrapper] {
    margin-left: 0;
}

.vpm_multiple-add.disabled,
.vpm_multiple-delete.disabled {
    color: #ddd;
    cursor: default;
}